h2 {
    color: white;
    font-size: 27px;
}

a {
    text-decoration: none;
}

p {
    color: white;
    font-size: 20px;
    text-align: justify;
}

.small-image {
    width: 90%;
    border-radius: 10px;
}

.nav-bar-container {
    width: 100%;
    height: 70px;
    background-color: rgb(122, 23, 31);
    margin: 0;
    text-align: center;
}

.link-container {
    width: 100px;
    position: relative;
}

.link-wrapper {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(5%);
}

.carousel-container {
    width: 100%;
    height: 750px;
    background-color:rgb(255, 255, 255);
}

.text-and-image-container {
    position: relative;
    padding: 10px;
    background-color: rgb(122, 23, 31);
    height: 800px;
}

.page-text-wrapper {
    margin: 50px;
    display: inline-block;
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
}

.small-image-wrapper {
    margin: 50px;
    display: inline-block;
    width: 40%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-60%);
}

footer {
    position: fixed;
    background-color: white;
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.buttons-container {
    width: fit-content;
    margin: auto;
    position: relative;
}

.buttons-container .button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-color:rgb(122, 23, 31);
    border-width: 2px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    margin-top: 15px;
    margin-inline: 5px;
    transition: 0.5s;
}

.buttons-container .button:hover svg,
.buttons-container .button:hover {
    color: white;
    transition: 0.5s;
}

.buttons-container .button:hover {
    background-color:rgb(122, 23, 31);
}

svg {
    color:rgb(122, 23, 31);
    transition: 0.5s;
}

.facebook-wrapper {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translate(33%, -45%);
}

.facebook-icon {
    width: 15px;
}

.instagram-wrapper {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translate(22%, -43%);
}

.instagram-icon {
    width: 22px;
}

.twitter-wrapper {
    width: 23px;
    position: absolute;
    top: 50%;
    transform: translate(20%, -45%);
}
